# Miscellaneous
/*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
**/android/app/debug
/android/app/profile
/android/app/release

# Ignoring other codes
/projeto_flutterando/linux/
/projeto_flutterando/macos/
/projeto_flutterando/web/
/projeto_flutterando/windows/
/projeto_flutterando/ios/
/projeto_flutterando/android/

/ola_mundo/linux/
/ola_mundo/macos/
/ola_mundo/web/
/ola_mundo/windows/
/ola_mundo/ios/
/ola_mundo/android/

/primeiro_programa/linux/
/primeiro_programa/macos/
/primeiro_programa/web/
/primeiro_programa/windows/
/primeiro_programa/ios/
/primeiro_programa/android/

/scaffold/linux/
/scaffold/macos/
/scaffold/web/
/scaffold/windows/
/scaffold/ios/
/scaffold/android/

/money_converter/linux/
/money_converter/macos/
/money_converter/web/
/money_converter/windows/
/money_converter/ios/
/money_converter/android/